*{ padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: auto;
    background-color: rgb(0, 0, 0);
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center; 
}

/*
PRIMEIRA PARTE
*/
nav{
    width: 100%;
}
nav > section{
    background-color: rgb(0, 0, 0);
    display: flex;
    max-width: 2462px;
    height: 120px;
    margin: auto;
}
nav > section > h1{
    width: 40%;
    margin: 0px;
    padding-top: 30px;
    color: white;
    background: linear-gradient(to right , black 85% ,  rgb(89, 89, 89));
    text-align: center;
    font-size: 2em;
}
nav > section > ul{
    width: 60%;
    height: 120px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color:  rgb(89, 89, 89);
    margin: 0%;
}
nav > section > ul > li{
    margin: 0px 20px;
}
nav > section > ul > li > a{
    color: black;
    font-size: 35px;
    text-decoration: none;
}
nav > section > ul > li > a:hover{
    color: white;
}
/*
SEGUNDA PARTE
*/
header{
    width: 100%;

}
header > section{
    display: flex;
    margin: auto;    
    max-width: 2462px;
}
header > section > #text{
    background: linear-gradient(to right , black 85% ,  rgb(89, 89, 89));
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 1200px;
}
header > section > #text > h2{
    text-align: right;
    color: white;
}
header > section > #box-img{
    width: 60%;
    height: 1200px;
    background: url(img/eu\ black\ corpo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 1500px) {
    /* Primeira parte*/

    nav > section {
        flex-flow: column ;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
    nav > section > h1 {
        width: 100%;
        height: 100px;
        background: black;
    }
    nav > section > ul{
        width: 100%;
        background-color: black;
    }
    nav > section > ul > li > a{
        text-decoration: none;
        color: rgb(112, 112, 112);
    }

    /*Segunda parte*/
    header > section{
        flex-flow: column wrap;
        align-items: center;
        background-color: rgb(89, 89, 89);
        padding-bottom: 20px;
    }
    header > section > #text{
        background: rgb(89, 89, 89) ;
        width: 100%;
        height: 300px;
    }
    header > section > #text > h2{
        text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: rgb(0, 0, 0);
    }
    header > section > #box-img{
        max-width: 600px;
        height: 500px;
        background: url(img/eu\ black\ corpo.jpg);
        background-repeat: no-repeat;
        background-size: cover ;
        background-position: center;

    }
}
/*
TERCEIRA PARTE
*/
main{
    max-width: 2462px;
    display: flex;
    flex-flow: column;
}
#colun1{
    display: flex;
}
#colun1 > #arti-img {
    width: 40%;
    height: 800px;
    background: url(img/eu\ black\ perfil.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#colun1 > #arti-text{
    background-color: rgb(89, 89, 89);
    width: 60%;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#colun1 > #arti-text > h2{
    margin-bottom: 30px;
}
#colun1 > #arti-text > h2,p{
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
}
#colun2{
    width: 100%;
    height: 740px;
    background-color: black;
    text-align: center;
}
#colun2 > h1{
    color: white;
    font-size: 2em;
    margin: 40px;
}
#colun2 > article{
    width: 100%;
    height: 500px;
    padding: 20px 0px;
}
#colun2 > article > .caixa{
    margin: 30px 0px;
}
#colun2 > article > .caixa > a{
    text-decoration: none;
    color: rgb(89, 89, 89);
}
#colun2 > article > .caixa > a:hover{
    color: rgb(255, 255, 255);
}