*{
    padding: 0%;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.barlow-condensed-thin {
    font-family: "Barlow Condensed", serif;
    font-weight: 100;
    font-style: normal;
}


header{
    background-color: #000000;
    display: flex;
    width: 100%;
    height: 158px;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-family: "Barlow Condensed", serif ;
}
main{
    background-color: #181818;
    padding: 60px 60px;
}
main > h1{
    text-align: center;
    margin: 80px 0px;
}
/*PARTE DA INTRO DO SITE COM A FOTO*/
main > #p_intro{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px 0px;
}
main > #p_intro > p{
    max-width: 625px;
    margin-left: 54px;
    font-size: 26px;
    line-height: 42px;
}
@media (max-width:1065px){
    main{
        padding: 5px;
    }
    main > #p_intro{
        flex-flow: column;
    }
    main > #p_intro > p{
        margin: 60px 0px;
        text-align: center;
    }
}

/*PARTE DOS SITES*/
main > #p_sites{
    display: flex;
    max-width: 1200px;
    height: 100%;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
    margin: auto;
}
main > #p_sites > article{
    background-color:#343600;
    width: 278px;
    height: 150px;
    margin: 20px;
    border-radius: 10px;
}
main > #p_sites > article:hover{
    background-color:#bb8300;
}
main > #p_sites > article > a{
    display: flex;
    width: 278px;
    height: 150px;
    align-items: end;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
footer{
    background-color: #000000;
    display: flex;
    height: 131px;   
    text-align: center;
    justify-content: center;
    align-items: center;
}
footer > a{
    text-decoration: none;
}
footer > a:hover{
    color: rgb(199, 149, 0);
}