*{ padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: auto;
    background-color: rgb(0, 0, 0);
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center; 
}

/*
PRIMEIRA PARTE
*/
nav{
    width: 100%;
}
nav > section{
    background-color: rgb(0, 0, 0);
    display: flex;
    max-width: 2462px;
    height: 100%;
    margin: auto;
}
nav > section > h1{
    width: 40%;
    margin: 0px;
    padding-top: 30px;
    color: white;
    background: linear-gradient(to right , black 85% , #56606B);
    text-align: center;
    font-size: 1.5em;
    text-shadow: 1px 1px 6px rgba(255, 255, 255, 0.113);
}
nav > section > ul{
    width: 60%;
    height: 80px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: url(img/pexels-scottwebb-593158.jpg) ;
    background-size: cover;
    background-position: center;
    margin: 0%;
    color: rgb(74, 87, 97);
}
nav > section > ul > li{
    margin: 0px 20px;
}
nav > section > ul > li > a{
    color: black;
    font-size: 26px;
    text-decoration: none;
    text-shadow: 1px 1px 6px rgba(255, 255, 255, 0.467);
}
nav > section > ul > li > a:hover{
    color: white;
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.689)
}
/*
SEGUNDA PARTE
*/
header{
    width: 100%;

}
header > section{
    display: flex;
    margin: auto;    
    max-width: 2462px;
}
header > section > #text{
    background: linear-gradient(to right , black 85% ,  #56606B);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 600px;
}
header > section > #text > h2{
    text-align: right;
    font-size: 26px;
    color: white;
    text-shadow: 1px 1px 6px rgba(255, 255, 255, 0.171);
}
header > section > #box-img{
    width: 60%;
    height: 600px;
    background: url(img/eu\ black\ corpo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*
TERCEIRA PARTE
*/
main{
    max-width: 2462px;
    display: flex;
    flex-flow: column;
    text-align: center;
}
#colun1{
    width: 100%;
    height: 740px;
    padding: 0px 0px 30px 0px;
    background-color: black;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}
#colun1 > h1{
    color: white;
    font-size: 2em;
    margin: 40px;
}
#colun1 > article{
    width: 100%;
    height: 500px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
}
#colun1 > article > .caixa{
    min-width: 200px;
    max-height: 40px;
}
#colun1 > article > .caixa > a{
    text-decoration: none;
    color: rgb(89, 89, 89);
}
#colun1 > article > .caixa > a:hover{
    color: rgb(255, 255, 255);
}
#colun1 > a{
    color: rgba(255, 255, 255, 0.698);
    text-decoration: none;
}
#colun1 > a:hover{
    color: rgb(186, 46, 46);
}
#colun2{
    display: flex;
}
#colun2 > #arti-img {
    width: 40%;
    height: 800px;
    background: url(img/eu\ black\ perfil.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#colun2 > #arti-text{
    background: url(img/pexels-scottwebb-593158.jpg);
    background-position: center;
    background-size: cover;
    width: 60%;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#colun2 > #arti-text > h2{
    margin-bottom: 30px;
}
#colun2 > #arti-text > h2,p{
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
    text-shadow: 1px 1px 6px rgba(255, 255, 255, 0.5);
}
#colun3{
    color: white;
    
}
/*monitor-menor*/
@media (max-width: 1200px) {
    /* Primeira parte*/
    nav > section {
        flex-flow: column ;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
    nav > section > h1 {
        width: 100%;
        height: 100px;
        background: black;
    }
    nav > section > ul{
        width: 100%;
    }
    nav > section > ul > li > a{
        text-decoration: none;
        color: black;
    }
    /*Segunda parte*/
    header > section{
        flex-flow: column wrap;
        align-items: center;
        background: url(img/pexels-scottwebb-593158.jpg);
        background-size: cover;
        background-position: center;
        padding-bottom: 20px;
    }
    header > section > #text{
        background: #56606b93;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 300px;
    }
    header > section > #text > h2{
        text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: rgb(0, 0, 0);
    }
    header > section > #box-img{
        display: none;
    }
}
/*tela-celular*/
@media (max-width: 1000px){
    main > #colun2{
        flex-flow: column;
    }
    #colun2 > #arti-img{
        width: 100%;
        height: 500px;
    }
    #colun2 > #arti-text{
        width: 100%;
        height: 100%;
    }
}