* {padding: 0%;}
    body{
        background: url(Background.png);
        background-position: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 98vh;
    }
    main {
        display: flex;
        width: 1200px;
        height: 700px;
        font-family: "Roboto", sans-serif;
        background-color: #013243;
        border-radius: 15px;
    }
    main > #l1{
        width: 50%;
        height: 100%;
        text-align: center;
        background-image: url(iPhone\ Mockup.png);
        background-size: cover;
    }
    main > #l1 > h1{
        color: white;
        font-size: 3em;
        margin: 45px 0px 0px 0px;
    }
    main > #l1 > p{
        color: #50a2bd;
        word-spacing: 5px;
    }
    main > #box{
        width: 50%;
        height: 100%;
    }
    main > #box > #l2{       
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%; 
        background-color: white;
        border-radius: 0px 15px 15px 0px;
    }
    main > #box > #l2 > h1{
        font-size: 2.5em;
        margin: 50px 0px 0px 130px;
    }
    main > #box > #l2 > form{
        width: 350px;
        height: 350px;
        margin: 40px 0px 0px 130px;
    }
    main > #box > #l2 > form > h1{
        font-size: 1.5em;
        margin: 10px 0px;
    }
    main > #box > #l2 > form > p{
        font-size: 1.5em;
        margin: 10px 0px;
    }
    main > #box > #l2 > form > #idemail , #idpassword{
    width: 350px;
    height: 70px;
    font-size: 22px;
    border-width: 2.5px;
    border-style: solid;
    border-color: rgba(135, 135, 130, 0.621);
    border-image: initial;
    border-radius: 5px;
    margin-bottom: 15px;
    }
    main > #box > #l2 > form > #idcheck-p{
        word-spacing: 6px;
    }
    main > #box > #l2 > button{
        width: 350px;
        height: 70px;
        color: white;
        font-size: 22px ;
        background-color: #054257;      
        border-radius: 5px;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.399);
        margin: 50px 0px 80px 130px;
        cursor: pointer;
    }
    main > #box > #l2 > button:hover{
        color: rgba(169, 169, 169, 0.962);
        background-color: #052934;   
    }
       @media (max-width: 800px) {
        body{
        height: 100%;
        padding: 0%;
        margin: 0%;
        }   
        main{
        width: 100%;
        height: 1600px;
        flex-direction: column;
        border-radius: 0%;
        }    
        main > #l1{
        width: 100%;
        height: 50%;
        text-align: center;
        background-image: url(iPhone\ Mockup.png);
        background-size: contain;
        background-position: center;
        }
        main > #box{
            width: 100%;
            height: 45%;
            display: flex;
            justify-content: center;
        }
        main > #box > #l2{       
        display: flex;
        flex-direction: column;
        width: 450px;
        height: 100%; 
        background-color: white;
        border-top: 1px solid black;
        border-radius: 0%;
       }
        main > #box > #l2 > h1{
        margin: 50px 0px 0px 50px;
        }
        main > #box > #l2 > form{
        margin: auto;
        }
        main > #box > #l2 > button{
        margin: auto;
        }
}