* {padding: 0%;}
    body{
        background: url(Background.png);
        background-position: center;
    }
    main {
        display: flex;
        width: 55%;
        height: 700px;
        font-family: "Roboto", sans-serif;
        background-color: #013243;
        border-radius: 15px;
    }
    main > #l1{
        width: 50%;
        height: 100%;
        text-align: center;
        background-image: url(iPhone\ Mockup.png);
        background-size: cover;
    }
    main > #l1 > h1{
        color: white;
        font-size: 3em;
        margin: 45px 0px 0px 0px;
    }
    main > #l1 > p{
        color: #50a2bd;
        word-spacing: 5px;
    }
    main > #l2{       
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 100%; 
        background-color: white;
        border-radius: 0px 15px 15px 0px;
    }
    main > #l2 > h1{
        font-size: 2.5em;
    }
    main > #l2 > form{
        width: 300px;
        height: 500px;
    }
    main > #l2 > form > p{
        font-size: 1.5em;
        margin: 10px 0px;
    }
    main > #l2 > form > #idemail , #idpassword{
    width: 300px;
    height: 50px;
    border-radius: 3px;
    }
    main > #l2 > button{
        width: 300px;
        height: 50px;
        color: white;
        font-size: 18px;
        font-family: Helvetica, sans-serif;  
        background-color: #054257;      
        border-radius: 4px;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.399);
    }