* {
    padding: 0%;
    margin: 0%;
}
body{
}
#anuncio{
    color: white;
    text-align: center;
    font-size: 22px;
    background-color: black;
    width: 100%;
    padding: 10px 0px;
}
#mainn{
    background-color: rgb(234, 234, 234);   
}
#mainn > nav{
    display: flex;
    width: 80%;
    height: 140px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}
#mainn > nav > p {
    font-size: 22px;
}
#mainn > nav > ul{
    display: flex;
    list-style: none;
}
#mainn > nav > ul > li{
    font-size: 22px;
    margin: 0px 10px 0px 10px;
}
#mainn > nav > ul > li > a{
    color: black;
    text-decoration: none;
} 
#mainn > nav > #botoes > button{
    width: 100px;
    height: 60px;
    border: none;
    border-radius: 5px;
    margin: 0%;
    cursor: pointer;
    font-size: 18px;
    background-color: white;
}
#mainn > nav > #botoes > #start{
    width: 130px;
    color: white;
    background-color: black;
}
#mainn > #section1{
    display: flex;
    margin: auto;
    width: 80%;
    height: 800px;
    justify-content: space-between;
    align-items: center;
}
#mainn > #section1 > article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 750px;
}
#mainn > #section1 > article > h1{
    font-size: 4em;
    margin-left: 10px;
    margin-bottom: 5px;
}
#mainn > #section1 > article > p{
    font-size: 22px;
    word-spacing: 2px;
    margin: 5px;
}
#mainn > #section1 > article > p > img{
    margin-right: 15px;
}
#mainn> #section1 > article > form{
    width: 500px;
}
#mainn > #section1 > article > form > input{
    width: 200px;
    height: 60px;
    margin: 5px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.189);
}
#mainn > #section1 > article > form > #submit{
    width: 150px;
    color: white;
    background-color: black;
}
#mainn > #section1 > article > img{
    width: 600px;
    height: 100%;
    margin: 0px 0px 0px 75px;
}
main > #section2{
    display: flex;
    margin: auto;
    align-items: center; 
    justify-content: space-between;
    width: 80%;
    height: 150px;
}
main > #section2 > a{

}
main > #section2 > a > img{
    width: 200px;
}
main > #section3{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center; 
    width: 80%;
    height: 700px;
    margin: auto;
    padding-left: 60px;
    background-image: url(Assets/Phone\ Mockup\ \(Desktop\).png);
    background-size: contain;
    background-position: right ;
    background-repeat: no-repeat;
    background-color: rgb(234, 234, 234);
}
main > #section3 > h1{
    font-size: 4em;
}
main > #section3 > p{
    font-size: 26px;
    word-spacing: 2px;
    line-height: 45px;
    margin: 30px;
}
main > #section3 > p > a{
    color: black;
    text-decoration: none;
}
